<div class="full-back">
    <app-header></app-header>
    </div>
    <div class="intro">
    <h3>Enter your question?</h3>
    <input class="inp"type="text" placeholder="type question">
    <button class="btn info">Submit</button>
    </div>
    <div class="container">
 <div class="list-group">
 <a href="#" class="list-group-item active">
<h4 class="list-group-item-heading">What is your name?</h4>
<p class="list-group-item-text name">Tracy Chinedu</p>
<p class="list-group-item-text answer">12 Answers</p>
<p class="list-group-item-text time">14 mins ago</p>
</a>
 </div>
<div class="list-group">
        <a href="#" class="list-group-item">
       <h4 class="list-group-item-heading">How old are you?</h4>
       <p class="list-group-item-text name">Tracy Chinedu</p>
       <p class="list-group-item-text answer">12 Answers</p>
       <p class="list-group-item-text time">14 mins ago</p>
       </a>
       </div>

       <div class="list-group">
            <a href="#" class="list-group-item">
           <h4 class="list-group-item-heading">What are your hobbies?</h4>
           <p class="list-group-item-text name">Tracy Chinedu</p>
           <p class="list-group-item-text answer">12 Answers</p>
           <p class="list-group-item-text time">14 mins ago</p>
           </a>
           </div>
           <div class="list-group">
                <a href="#" class="list-group-item">
               <h4 class="list-group-item-heading">Who is your bestfriend?</h4>
               <p class="list-group-item-text name">Tracy Chinedu</p>
               <p class="list-group-item-text answer">12 Answers</p>
               <p class="list-group-item-text time">14 mins ago</p>
               </a>
               </div>
</div>
